body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    color: rgb(8, 255, 255);
    text-align: center;
    position: absolute;
    top: 20px;
}

.compass {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(red 0deg 0deg, #ff0000 0deg 1deg, #fff 1deg 359deg, #ff0000 359deg 360deg);
}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 150px solid rgb(255, 0, 0);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
    transition: transform 0.3s ease-out;
}

.arrow::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 150px solid rgb(0, 0, 0);
    top: 150px;
    left: -20px;
}


.compass-circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #fff;
    box-sizing: border-box;
}

.info {
    margin-top: 20px;
    color: rgb(8, 255, 255);
    text-align: center;
}

#enableCompass {
    background: rgba(255,255,255,0.06);
    color: rgb(8,255,255);
    border: 1px solid rgba(255,255,255,0.12);
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 16px;
}

#heading {
    margin-top: 8px;
    font-size: 18px;
}
